@model FoodResponseViewModel

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Gıda Güncelle</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form asp-controller="Foods" asp-action="Update" asp-route-PageIndex="@ViewBag.PageIndex" method="post">
                    <div class="card-body">


                        <div class="form-group">
                            <label>Gıda Id</label>
                            <input asp-for="Id" type="number" value="@Model.Id" class="form-control" readonly>
                        </div>

                        <div class="form-group">
                            <label>Depolama Koşulları</label>
                            <input asp-for="StorageCondition" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Hazırlanma Tekniği</label>
                            <input asp-for="PreparationTechnique" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Son Kullanma Tarihi</label>
                            <input asp-for="ExpiryDate" type="datetime" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Ürün Id</label>
                            <input asp-for="ProductId" type="number" value="@Model.ProductId" class="form-control" readonly>
                        </div>

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = function () {
        var message = @Html.Raw(JsonConvert.SerializeObject(TempData["ExceptionMessage"]));
        if (message) {
            alert(message);
        }
    }
</script>
